
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'roboto',sans-serif;
}
/* header */

.material-icons{
  color: rgba(52, 54, 54, 0.875)
}

.header{
  display: flex;
  justify-content: space-between;
  text-align: center;
  height: 70px;
  padding: 15px;
 
}
.header-left{
  display: flex;
 align-items: center;
}
.header-left img{
 width: 100px;
 margin-left: 15px;
 
}
.header i{
  cursor: pointer;
  padding: 0px 7px;
}
.header-search form{
  border: 1px solid #ddd;
  height: 35px;
  margin: 0;
  padding: 0;
  display: flex;
}
.header-search input{
  width: 500px;
  padding: 10px;
  margin: 0;
  border-radius: 0;
  border: none;
  
}
.header-search button{
  padding: 0;
  margin: 0;
  border-radius: 0;
  height: 100%;
  border: none;

}

/* main body */

.mainbody{
  height: calc(100vh - 70px);
  display: flex;
  overflow:hidden;
}

/* side bar */

.sidebar{
  height: 100%;
  width: 250px;
  background-color: white;
  overflow-y: scroll;
}

.sidebar-categories{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 15px;
}
.sidebar-category{
  display: flex;
  align-items: center;
  padding: 12px 25px;
}
.sidebar-category span{
  margin-left: 10px;

}
.sidebar-category:hover{
  background: rgb(219, 211, 211);
  cursor: pointer;
}
.sidebar::-webkit-scrollbar{
  display: none;
}
hr{
  height: 1px;
  background-color: #ddd;
  border: none;
}

/* vedios */
.vedio{
  background-color: rgb(251, 252, 255);
  width: 100%;
  height: 100%;
  padding:15px 25px;
  border-top: 1px solid #ddd;
  
  
 

}
.vedio-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.vedio{
  width:310px;
  margin-right: 10px;
  margin-bottom: 30px;
}
.vedio-thumbnail{
  width: 100%;
  height: 170px;

}
.vedio-thumbnail img{
  object-fit: cover;
  height: 100%;
  width: 100%;
  
}
.vedio-author{
  object-fit: cover;
  border-radius: 50%;
  height: px;
  width: px;
  margin-right: 0px;
}
.profile{
  width: 40px;
  height: 40px;
  float: left;
  margin-top: 5px;
  margin-right: 5px;
}
.vedio-details{
  display: flex;
}
.title{
  
}